body {
    margin: 0px;
}

.mainContent {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    margin: 0px;
    border: 3px solid #494440;
}
